:root {
  --studio-color-primary-50: oklch(0.9771 0.1338 108.63);
  --studio-color-primary-100: oklch(0.9223 0.1436 97.85);
  --studio-color-primary-200: oklch(0.8699 0.1536 87.39);
  --studio-color-primary-300: oklch(0.817 0.163 75.59);
  --studio-color-primary-400: oklch(0.767 0.1743 62.86);
  --studio-color-primary-500: oklch(0.7108 0.177 54.41);
  --studio-color-primary-600: oklch(0.6419 0.1685 50.27);
  --studio-color-primary-700: oklch(0.5735 0.1583 46.85);
  --studio-color-primary-800: oklch(0.5054 0.1495 42.88);
  --studio-color-primary-900: oklch(0.4379 0.1401 39.05);
  --studio-color-primary: oklch(0.7442 0.1812 56.45);
  --studio-color-secondary-50: oklch(0.9597 0.06 196.16);
  --studio-color-secondary-100: oklch(0.9352 0.0871 188.63);
  --studio-color-secondary-200: oklch(0.9095 0.1132 182.19);
  --studio-color-secondary-300: oklch(0.8848 0.1403 174.57);
  --studio-color-secondary-400: oklch(0.8573 0.1658 167.91);
  --studio-color-secondary-500: oklch(0.8132 0.1743 163.47);
  --studio-color-secondary-600: oklch(0.7498 0.1649 161.47);
  --studio-color-secondary-700: oklch(0.6851 0.155 159.62);
  --studio-color-secondary-800: oklch(0.622 0.1447 158.01);
  --studio-color-secondary-900: oklch(0.557 0.1346 156.2);
  --studio-color-secondary: oklch(0.8457 0.1796 164.25);
  --studio-color-warning-50: oklch(0.9775 0.1307 108.58);
  --studio-color-warning-100: oklch(0.8907 0.1481 91.36);
  --studio-color-warning-200: oklch(0.8059 0.1648 72.79);
  --studio-color-warning-300: oklch(0.7053 0.1658 59.49);
  --studio-color-warning-400: oklch(0.5827 0.1472 53);
  --studio-color-warning-500: oklch(0.46 0.1283 46.48);
  --studio-color-warning: oklch(0.7669 0.1749 63.06);
  --studio-color-danger-50: oklch(0.9846 0.0135 325.84);
  --studio-color-danger-100: oklch(0.8281 0.1276 341.25);
  --studio-color-danger-200: oklch(0.6466 0.1846 348.85);
  --studio-color-danger-300: oklch(0.4425 0.1853 348.99);
  --studio-color-danger: oklch(0.7489 0.1848 348.49);
  --studio-color-success-50: oklch(0.9796 0.1158 108.35);
  --studio-color-success-100: oklch(0.9441 0.1407 113.55);
  --studio-color-success-200: oklch(0.9094 0.165 118.76);
  --studio-color-success-300: oklch(0.8737 0.1889 123.59);
  --studio-color-success-400: oklch(0.8391 0.2131 128.71);
  --studio-color-success-500: oklch(0.7877 0.2197 132.44);
  --studio-color-success-600: oklch(0.7177 0.2068 134.67);
  --studio-color-success-700: oklch(0.6496 0.1946 136.87);
  --studio-color-success-800: oklch(0.5837 0.1829 139.09);
  --studio-color-success-900: oklch(0.5138 0.17 141.26);
  --studio-color-success: oklch(0.8212 0.2256 131.33);
  --studio-color-background: oklch(1 0 0);
  --studio-color-surface: oklch(0.9842 0.0034 247.8);
  --studio-color-neutral: oklch(0.5544 0.0407 257.42);
  --studio-color-neutral-dark: oklch(0.2077 0.0398 265.76);
  --studio-color-neutral-light: oklch(0.9683 0.0068 247.86);
  --studio-semantic-interactive: light-dark(
    var(--studio-color-primary-600),
    var(--studio-color-primary-400)
  );
  --studio-semantic-interactive-text: light-dark(
    var(--studio-color-neutral-light),
    var(--studio-color-neutral-light)
  );
  --studio-semantic-surface: light-dark(
    var(--studio-color-background),
    var(--studio-color-neutral-dark)
  );
  --studio-semantic-on-surface: light-dark(
    var(--studio-color-neutral-dark),
    var(--studio-color-neutral-light)
  );
  --studio-custom-layout-header-height: 6.25rem;
  --studio-custom-layout-max-width: 100rem;
  --studio-custom-layout-gutters: 2rem;
  --studio-custom-layout-section-title-height: 4.5rem;
  --studio-custom-modal-gutters: 2rem;
  --studio-font-family-poppins:
    "Poppins", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --studio-font-family-inter:
    "Inter", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --studio-font-family-mulish:
    "Mulish", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --studio-font-family-consolas:
    "Consolas", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --studio-font-weight-poppins-bold: 700;
  --studio-font-weight-poppins-semiBold: 600;
  --studio-font-weight-poppins-medium: 500;
  --studio-font-weight-poppins-regular: 400;
  --studio-font-weight-poppins-light: 300;
  --studio-font-weight-inter-bold: 700;
  --studio-font-weight-inter-semiBold: 600;
  --studio-font-weight-inter-medium: 500;
  --studio-font-weight-inter-regular: 400;
  --studio-font-weight-inter-light: 300;
  --studio-font-weight-mulish-bold: 700;
  --studio-font-weight-mulish-semiBold: 600;
  --studio-font-weight-mulish-medium: 500;
  --studio-font-weight-mulish-regular: 400;
  --studio-font-weight-mulish-light: 300;
  --studio-font-weight-consolas-bold: 700;
  --studio-font-weight-consolas-semiBold: 600;
  --studio-font-weight-consolas-medium: 500;
  --studio-font-weight-consolas-regular: 400;
  --studio-font-weight-consolas-light: 300;
  --studio-space-4-px: 4px;
  --studio-space-4-rem: 0.25rem;
  --studio-space-8-px: 8px;
  --studio-space-8-rem: 0.5rem;
  --studio-space-12-px: 12px;
  --studio-space-12-rem: 0.75rem;
  --studio-space-16-px: 16px;
  --studio-space-16-rem: 1rem;
  --studio-space-20-px: 20px;
  --studio-space-20-rem: 1.25rem;
  --studio-space-24-px: 24px;
  --studio-space-24-rem: 1.5rem;
  --studio-space-28-px: 28px;
  --studio-space-28-rem: 1.75rem;
  --studio-space-32-px: 32px;
  --studio-space-32-rem: 2rem;
  --studio-space-36-px: 36px;
  --studio-space-36-rem: 2.25rem;
  --studio-space-40-px: 40px;
  --studio-space-40-rem: 2.5rem;
  --studio-space-44-px: 44px;
  --studio-space-44-rem: 2.75rem;
  --studio-size-dense-px: 24px;
  --studio-size-dense-rem: 1.5rem;
  --studio-size-normal-px: 32px;
  --studio-size-normal-rem: 2rem;
  --studio-size-big-px: 44px;
  --studio-size-big-rem: 2.75rem;
  --studio-breakpoint-phone: 375px;
  --studio-breakpoint-tablet: 768px;
  --studio-breakpoint-desktop: 1280px;
  --studio-border-radius-sm: 4px;
  --studio-border-radius-md: 8px;
  --studio-border-radius-lg: 16px;
  --studio-border-radius-full: 9999px;
}
